<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h1>Hello <%= name %>,</h1>
    
    <p>Thank you for providing your email address: <%= email %>. We appreciate your interest!</p>
    
    <p>Best regards,<br>
    Your Company</p>

    <!-- here verifying the email with a token -->
    <a href="http://localhost:5000/auth/verify-email/<%= token %>">click to verify</a>
</body>
</html>
